# General
*.log
build/
bin/
obj/
release/
debug/

# Mac OS X
*.DS_store
*.bak
*.old
*.swp
*~.nib

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Linux
~*
*~
*.depend

# Windows
*.db

# Visual Studio Express
*.csproj
*.ncb
*.opensdf
*.scc
*.sdf
*.suo
*.user
*.vbproj
*.vsscc
*.vspscc
ipch/
