#include "Version.h"

#define	FILEVER	DAGON_VERSION_MAJOR, DAGON_VERSION_MINOR, DAGON_VERSION_RELEASE, DAGON_BUILD
#define	PRODVER	FILEVER

#define	STRFILEVER "Dagon " DAGON_VERSION_STRING
#define	STRPRODVER STRFILEVER

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

100 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Dagon.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION FILEVER
 PRODUCTVERSION PRODVER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Dagon\0"
            VALUE "CompanyName", "Senscape s.r.l.\0"
            VALUE "FileDescription", "An Adventure Game Engine\0"
            VALUE "FileVersion", STRFILEVER
            VALUE "InternalName", "Dagon\0"
            VALUE "LegalCopyright", "© 2013\0"
            VALUE "LegalTrademarks", "Copyright © 2013\0"
            VALUE "OriginalFilename", "Dagon.exe\0"
            VALUE "PrivateBuild", "Developed by Senscape s.r.l.\0"
            VALUE "ProductName", "Dagon\0"
            VALUE "ProductVersion", STRPRODVER
            VALUE "SpecialBuild", "Developed by Senscape s.r.l.\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
	VALUE "Translation", 0x409, 1252
    END
END
